.label-1{
    background-color:#fcc302;
}
.label-4{
    background-color:#fcc302;
}
.label-8{
    background-color:#fcc302;
}
.label-12{
    background-color:#fcac03;
}
.label-18{
    background-color:#fcac03;
}
.label-22{
    background-color:#fd9e02;
}
.label-26{
    background-color:#fd9e02;
}
.label-30{
    background-color:#fd9e02;
}
.label-35{
    background-color:#fd9501;
}
.label-38{
    background-color:#fd9501;
}
.label-42{
    background-color:#fa6f05;
}
.label-46{
    background-color:#fa6f05;
}
.label-52{
    background-color:#fd7c01;
}
.label-56{
    background-color:#fd7c01;
}
.label-60{
    background-color:#fd7c01;
}
.label-65{
    background-color:#fd6f01;
}
.label-68{
    background-color:#fd6f01;
}
.label-72{
    background-color:#fb4c03;
}
.label-76{
    background-color:#fb4c03;
}
.label-80{
    background-color:#fb4c03;
}
.label-86{
    background-color:#fc5003;
}
.label-90{
    background-color:#fc5003;
}
.label-94{
    background-color:#f32c00;
}
.label-98{
    background-color:#f32c00;
}